
<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>THPT Văn Lang</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Academy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- css files -->
<link href="{{ url_for('static' , filename ='trang_chu/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static' , filename ='trang_chu/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static' , filename ='trang_chu/css/team.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="{{ url_for('static' , filename ='trang_chu/css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
<!-- /css files -->
<!-- fonts -->
<link href='//fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
<!-- /fonts -->
<!-- js files -->
<script src="{{ url_for('static' , filename ='trang_chu/js/modernizr.js') }}"></script>
<!-- /js files -->
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<!-- navigation -->
<div class="navbar-wrapper">
    <div class="container">
		<nav class="navbar navbar-inverse navbar-static-top cl-effect-1">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><h1 style="color:purple">Văn Lang</h1></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="#" style="font-size: 24px;color:purple"  >Trang chủ</a></li>
						<li><a href="#thu-vien" style="font-size: 24px;color:purple">Thư viện</a></li>
						<li><a href="#doi-ngu" style="font-size: 24px;color:purple">Đội ngũ</a></li>
						<li><a href="#lien-he" style="font-size: 24px;color:purple">Liên hệ</a></li>
						<li><a href="/login" style="font-size: 24px;color:purple">Đăng nhập</a></li>
					</ul>
				</div>
			</div>
        </nav>
	</div>
</div>
<!-- /navigation -->
<!-- banner section -->
<section class="banner">
	<div class="cover-slider__wrap">
		<ul class="cover-slider">
			<li class="cover-slider__slide">
				<span class="hide">Alt Tag</span>
			</li>
			<li class="cover-slider__slide">
				<span class="hide">Alt Tag</span>
			</li>
			<li class="cover-slider__slide">
				<span class="hide">Alt Tag</span>
			</li>
		</ul>
	</div>
</section>	
<!-- Gallery Section -->
<section class="our-gallery" id="thu-vien">
	<h3 class="text-center slideanim">Thư viện</h3>
	<p class="text-center slideanim">Nơi lưu trữ những hình ảnh - thông tin của trường</p>
	<div class="container">
		<img src="{{ url_for('static' , filename ='trang_chu/images/work1.jpg') }}" data-darkbox="{{ url_for('static' , filename ='trang_chu/images/work1-1.jpg') }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
        <img src="{{ url_for('static' , filename ='trang_chu/images/work2.jpg') }}" data-darkbox="{{ url_for('static' , filename ='trang_chu/images/work2-2.jpg') }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
		<img src="{{ url_for('static' , filename ='trang_chu/images/work3.jpg') }}" data-darkbox="{{ url_for('static' , filename ='trang_chu/images/work3-3.jpg') }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
		<img src="{{ url_for('static' , filename ='trang_chu/images/work4.jpg') }}" data-darkbox="{{ url_for('static' , filename ='trang_chu/images/work4-4.jpg') }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
		<img src="{{ url_for('static' , filename ='trang_chu/images/work5.jpg') }}" data-darkbox="{{ url_for('static' , filename ='trang_chu/images/work5-5.jpg') }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
		<img src="{{ url_for('static' , filename ='trang_chu/images/work6.jpg') }}" data-darkbox="{{ url_for('static' , filename ='trang_chu/images/work6-6.jpg') }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
		<img src="{{ url_for('static' , filename ='trang_chu/images/work7.jpg') }}" data-darkbox="{{ url_for('static' , filename ='trang_chu/images/work7-7.jpg') }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
		<img src="{{ url_for('static' , filename ='trang_chu/images/work8.jpg') }}" data-darkbox="{{ url_for('static' , filename ='trang_chu/images/work8-8.jpg') }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
		<img src="{{ url_for('static' , filename ='trang_chu/images/work9.jpg') }}" data-darkbox="{{ url_for('static' , filename ='trang_chu/images/work9-9.jpg') }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
		<img src="{{ url_for('static' , filename ='trang_chu/images/work10.jpg') }}" data-darkbox="{{ url_for('static' , filename ='trang_chu/images/work10-10.jpg') }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
		<img src="{{ url_for('static' , filename ='trang_chu/images/work11.jpg') }}" data-darkbox="{{ url_for('static' , filename ='trang_chu/images/work11-11.jpg') }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
		<img src="{{ url_for('static' , filename ='trang_chu/images/work12.jpg') }}" data-darkbox="{{ url_for('static' , filename ='trang_chu/images/work12-12.jpg') }}" data-darkbox-description="<b>Lorem Ipsum</b><br>Lorem ipsum dolor sit amet" class="img-responsive slideanim">
	</div>
</section>	
<!-- /Gallery section -->
<!-- Team -->
<section class="our-team" id="doi-ngu">
	<h3 class="text-center slideanim" style="color:purple">Đội ngũ - thành viên</h3>
	<p class="text-center slideanim" style="color:purple;">Những thành viên trong team tạo project python module cuối</p>
	<div class="container">
		<section class="main">
			<ul class="ch-grid">
				<li class="t1">
					<div class="ch-item slideanim">				
						<div class="ch-info">
							<div class="ch-info-front ch-img-1"></div>
							<div class="ch-info-back1">
								<ul class="social-icons">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>	
						</div>
					</div>
					<h4 class="slideanim" style="color:purple">Minh Nhựt</h4>
					<p class="team-info slideanim" style="color:purple">Leader</p>
				</li>
				<li class="t2">
					<div class="ch-item slideanim">
						<div class="ch-info">
							<div class="ch-info-front ch-img-2"></div>
							<div class="ch-info-back2">
								<ul class="social-icons">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<h4 class="slideanim" style="color:purple">Thanh Phong</h4>
					<p class="team-info slideanim" style="color:purple">Member</p>
				</li>
			</ul>
		</section>           
    </div>
</section>	
<!-- /Team -->
<!-- Google Map -->
<section class="map">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 slideanim">
				<iframe class="googlemaps"
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.787799995445!2d106.69744551086661!3d10.827544858203693!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528f4a62fce9b%3A0xc99902aa1e26ef02!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBWxINuIExhbmcgLSBDxqEgc-G7nyBjaMOtbmg!5e0!3m2!1svi!2s!4v1731256063804!5m2!1svi!2s"
					frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</section>
<!-- /Google Map -->
<!-- Contact -->
<section class="contact-us slideanim" id="lien-he">
	<h3 class="text-center slideanim">Liên hệ</h3> 
	<br/>
	<div class="container">		
		<div class="row">
			<div class="col-lg-5 col-md-5">
				<div class="contact-info">
					<h4>Liên hệ với chúng tôi qua</h4>
					<p><strong>Đường dây nóng :</strong>0123456789</p>
					<p><strong>Email :</strong> <a href="0123456789@gmail.com">0123456789@gmail.com</a></p>
					<p class="addr"><strong>Địa chỉ :</strong>69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, TP. HCM.</p>
					<ul class="social-icons2">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-7 col-md-7">
				<form action="#" method="post">
					<div class="row">
						<div class="col-sm-12 form-group slideanim">
							<input class="form-control" id="name" name="name" placeholder="Họ và tên" type="text" required>
						</div>
					</div>
					<div class="row email-bar">
						<div class="col-sm-12 form-group slideanim">
							<input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
						</div>
					</div>
					<textarea class="form-control slideanim" id="comments" name="comments" placeholder="Lời nhắn ... " rows="5"></textarea><br>
					<div class="row">
						<div class="col-sm-12 form-group">
							<button class="btn btn-outline1 btn-lg" type="submit">Gửi</button>
						</div>
					</div>
				</form>			
			</div>
		</div>
	</div>
</section>
<!-- /Contact -->
<!-- Footer Section -->
<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="links">
					<a href="index.html">Trang chủ</a>
					<a href="#gallery">Thư viện</a>
					<a href="#team">Đội ngũ</a>
					<a href="#contact">Liên hệ</a>
					<a href="/login">Đăng nhập</a>
				</div>
			</div>
			<div class="col-md-5">
				<div class="copyright" >
					<p>&copy; 2014 Quản lý trường THPT by Team NP </a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /Footer Section -->
<!-- js files -->
<script src="{{ url_for('static' , filename ='trang_chu/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static' , filename ='trang_chu/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static' , filename ='trang_chu/js/SmoothScroll.min.js') }}"></script>
<!-- js for banner -->
<script src="{{ url_for('static' , filename ='trang_chu/js/index.js') }}"></script>
<!-- /js for banner -->
<!-- js for gallery -->
<script src="{{ url_for('static' , filename ='trang_chu/js/darkbox.js') }}"></script>
<!-- /js for gallery -->
<!-- js for smooth navigation -->
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

  // Store hash
  var hash = this.hash;

  // Using jQuery's animate() method to add smooth page scroll
  // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
  $('html, body').animate({
    scrollTop: $(hash).offset().top
  }, 900, function(){

    // Add hash (#) to URL when done scrolling (default click behavior)
    window.location.hash = hash;
    });
  });
})
</script>
<!-- /js for smooth navigation -->
<!-- js for sliding animations -->
<script>
$(window).scroll(function() {
  $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 600) {
      $(this).addClass("slide");
    }
  });
});
</script>
<!-- /js for sliding animations -->
<!-- /js files -->
</body>
</html>